#raindeer {
  display: block;
  margin: 0 auto;
  padding-bottom: 1rem;
}

#overview {
  padding-bottom: 1rem;

  p {
    font-size: 1.25rem;
    text-align: center;
    max-width: 800px;
    display: block;
    margin: 0 auto;
  }
}

#cards {
  @media (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (min-width: 1024px) {
    grid-template-columns: repeat(3, 1fr);
  }
  .card {
    h3 {
      margin-bottom: 0;
    }
    .content.mid {
      justify-content: center;
      height: 100%;
      display: flex;
      flex-direction: column;
    }
  }
}
