#raindeer {
  display: block;
  max-width: 350px;
  margin: 0 auto;
  padding-bottom: 1rem;
}

#overview {
  padding-bottom: 2rem;

  .actions {
    display: block;
    margin-top: 1.5rem;
  }
  p {
    font-size: 1.25rem;
    text-align: center;
    max-width: 800px;
    display: block;
    margin: 0 auto;
  }
  ul#releases {
    margin: 1rem 0 0 0;
    padding-left: 0;
    text-align: center;
    li {
      color: #aaa;
      font-size: 0.75rem;
      display: inline-block;
      list-style: none;
    }
    li + li::before {
      content: ' | ';
    }
  }
}

#cards {
  margin-bottom: 2rem;
  @media (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (min-width: 1024px) {
    grid-template-columns: repeat(3, 1fr);
  }
  .card {
    header i {
      padding-right: 1rem;
    }
    &:nth-child(1) header i { color: rgb(1, 170, 255); }
    &:nth-child(2) header i { color: #f96746; }
    &:nth-child(3) header i { color: #18a902; }
    &:nth-child(4) header i { color: #D700AB; }
    &:nth-child(5) header i { color: #d63535; }
    &:nth-child(6) header i { color: #eeae37; }

    .content i {
      display: block;
      font-size: 4rem;
      color: var(--pico-primary-background);
      text-align: center;
      padding: 0.5rem 0 1rem 0;
    }
    .content.mid {
      justify-content: center;
      height: 100%;
      display: flex;
      flex-direction: column;
    }
  }
}

.teaser {
  display: flex;
  align-items: center;
  margin: 2rem auto;
  max-width: 800px;
  border-top: 1px solid #353841;
  border-bottom: 1px solid #353841;
  img {
    padding: 1rem;
    max-width: 150px;
    @media (min-width: 768px) {
      max-width: 300px;
    }
  }
  .content {
    padding: 1rem;
    h2 {
      font-size: 1.3rem;
    }
    p {
      font-size: 1.25rem;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

#pros-cons {
  @media (min-width: 768px) {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
}
