/***** TYPOGRAPHY *****/

:root {
  --pico-font-size: 1rem;
  --pico-accordion-open-summary-color: #fff;
}

html {
  scroll-behavior: smooth;
}

#background {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  left: 0;
  background-color: #1a1a1a; 
  
  background-image: 
    linear-gradient(to bottom, rgba(26, 26, 26, 0) 0%, rgb(19, 22.5, 30.5) 100%),
    url('/assets/background.png');

  background-repeat: repeat-x;
  height: 770px;
}

header, main, footer {
  position: relative;
  z-index: 2;
}

a#logo {
  text-decoration: none;
  font-weight: bold;
  color: white;
}

/***** TYPOGRAPHY *****/

h1 {
  margin-bottom: calc(var(--pico-typography-spacing-vertical) * 2);
}

button i,
a i {
  margin-right: 0.5rem;
  vertical-align: middle;
}

/***** LAYOUT *****/

@media (min-width: 1024px) {
  .container {
    max-width: 1000px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1200px;
  }
}

header {
  background-color: #000;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 30px;
    padding: 1rem;
  }

  #favicon,
  #favicon img {
    height: 100%;
  }

  #main-menu {
    li {
      a {
        height: 100%;
        display: flex;
        align-items: center;
        padding: 0 1rem;
      }
    }
  }
}

aside#sidebar {
  width: 14rem;
  float: left;
  padding: 1rem;

  nav {
    ul:first-of-type {
      margin-left: 0; /* Override Pico. */
    }
    li {
      padding: calc(var(--pico-nav-element-spacing-vertical) * .25) var(--pico-nav-element-spacing-horizontal);
      padding-left: calc(var(--pico-nav-element-spacing-vertical) * 1);
      border-left: 1px solid #353841;
      a {
        color: #d4d4d4;
        &:hover {
          color: var(--pico-primary);
        }
      }
    }
  }
  summary {
    list-style-type: none;
    cursor: pointer;
    font-weight: bold;
  }
}

#content {
  overflow: auto;
  padding: 1rem;
}

footer {
  margin-top: 2rem;
  border-top: 1px solid #000;
  ul {
    display: flex;
    justify-content: center;
    li {
      margin-left: 2rem;
    }
  }
}

/***** COMPONENTS *****/

.slogan {
  margin-bottom: var(--pico-block-spacing-vertical);
  padding: var(--pico-block-spacing-vertical) 0;
  border: 5px solid violet;
  border-left-width: 0;
  border-right-width: 0;

  color: violet;
  font-family: 'DM Sans', sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
  line-height: 2.25rem;
}

.highlight {
  border-radius: 10px;
}

/***** DASHBOARD *****/

.stat {
  .number {
    text-align: center;
    font-size: 4rem;
    font-weight: bold;
  }
  footer {
    text-align: center;
  }
}
